<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merryweather's Grooming</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="outer">
        <nav>
          <ul>
            <li><a href="main.html">Home</a></li>
            <li><a href="apply.html">Apply</a></li>
          </ul>
        </nav>
     <div id="container">
       <article>
          <header>
         <h1>Application Form</h1>
       </header>
         <form action="" method="POST">
          <p>First name:</p>
          <input type="text" name="name1">
          <p>Last name:</p>
          <input type="text" name="name2">
          <p>Phone number:</p>
          <input type="text" name="phone">
          <p>Your pet's name:</p>
          <input type="text" name="petName">
          <p>Species:</p>
          <input type="text" name="species">
          <p><i>Note: By submitting your information, you agree to our Terms of Service. We respond to new requests within one work week, excl. weekends.</i></p>
          <input type="submit" value="Submit">
         </form>
       </article>
     </div>
       </div>
  </body>
</html>