<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merryweather's Grooming</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="outer">
        <nav>
          <ul>
            <li><a href="main.html">Home</a></li>
            <li><a href="apply.html">Apply</a></li>
          </ul>
        </nav>
     <div id="container">
       <article>
          <header>
         <h1>Merryweather's Grooming Services</h1>
       </header>
         <h2>The #1 place to go for all your grooming needs!</h2>
         <p>Merryweather's Grooming Services has proudly been serving the Angleton community since 1988. We are highly skilled with all matters of cats and dogs, and willing to try out any style you may wish to see on your pet!</p>
         <p>If you're interested in a quote or in booking an appointment, please submit your contact information through our application tab, or contact us at (XXX) XXX-XXXX.</p>
         <p>Have a blessed day!</p>
       </article>
     </div>
       </div>
  </body>
</html>